if vue3
	|   import { defineComponent } from 'vue'
	|
	|   export default defineComponent({
	|     name: '#{names.pascal}',
	|     props: {},
	|     setup(props) {
	|
	|     }
	|   })
else
	|   export default {
	|     name: '#{names.pascal}',
	|       props: {},
	|       created() {
	|
	|     }
	|   }
|
